USE [GameDB]
GO
/****** Object:  Table [dbo].[Achievement]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievement](
	[user_UID] [int] NOT NULL,
	[achievement_code] [int] NOT NULL,
	[completed_date] [date] NOT NULL,
	[progress] [int] NULL,
	[target] [int] NULL,
	[is_reward] [tinyint] NOT NULL,
 CONSTRAINT [PK_Achievement] PRIMARY KEY CLUSTERED 
(
	[user_UID] ASC,
	[achievement_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receipt](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[user_UID] [int] NOT NULL,
	[goods_index] [int] NOT NULL,
	[purchase_date] [date] NOT NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAttendance]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAttendance](
	[user_UID] [int] NOT NULL,
	[attendance_date] [date] NOT NULL,
	[event_code] [int] NOT NULL,
	[day_count] [int] NULL,
	[is_rewarded] [tinyint] NULL,
 CONSTRAINT [PK_UserAttendance] PRIMARY KEY CLUSTERED 
(
	[user_UID] ASC,
	[attendance_date] ASC,
	[event_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCurrencyRecord]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCurrencyRecord](
	[user_UID] [int] NOT NULL,
	[item_index] [int] NOT NULL,
	[produced] [int] NOT NULL,
	[consumed] [int] NOT NULL,
 CONSTRAINT [PK_UserCurrencyRecord] PRIMARY KEY CLUSTERED 
(
	[user_UID] ASC,
	[item_index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserCustomizing]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserCustomizing](
	[user_UID] [int] NOT NULL,
	[skin] [int] NULL,
	[head] [int] NULL,
	[face] [int] NULL,
	[back] [int] NULL,
	[emotion] [int] NULL,
	[userTitle] [int] NULL,
	[profileSkin] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGameRecords]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGameRecords](
	[UID] [int] NOT NULL,
	[Kill_Count] [int] NOT NULL,
	[Death_Count] [int] NOT NULL,
	[Point] [int] NOT NULL,
	[Weapon_Kill_Count] [int] NOT NULL,
	[Punch_Kill_Count] [int] NOT NULL,
	[Bomb_Count] [int] NOT NULL,
	[Groggy_Count] [int] NOT NULL,
	[Pick_Weapon_Count] [int] NOT NULL,
	[Pick_Bomb_Count] [int] NOT NULL,
	[Battle_Count] [int] NOT NULL,
	[FITH_Team_Count] [int] NOT NULL,
	[FITH_Indiv_Count] [int] NOT NULL,
	[Victory_Count] [int] NOT NULL,
	[Gacha_Count] [int] NOT NULL,
	[Change_Skin_Count] [int] NOT NULL,
	[Buy_Box_Count] [int] NOT NULL,
	[Login_Count] [int] NOT NULL,
	[Play_Time_Count] [int] NOT NULL,
 CONSTRAINT [PK__Ranking__C5B1960278F7F831] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UID] [int] IDENTITY(1000,1) NOT NULL,
	[AccountID] [varchar](max) NOT NULL,
	[NickName] [nvarchar](50) NULL,
	[UserLevel] [int] NOT NULL,
	[PassLevel] [int] NOT NULL,
	[Point] [int] NOT NULL,
	[LastLoginTime] [date] NULL,
	[AttendanceDay] [int] NOT NULL,
	[ConnectionState] [int] NOT NULL,
 CONSTRAINT [PK__UserInfo__C5B19602FFFB7F88] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserItem]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserItem](
	[item_UID] [int] IDENTITY(1,1) NOT NULL,
	[owner_UID] [int] NOT NULL,
	[itemCode] [int] NOT NULL,
	[count] [int] NOT NULL,
	[itemType] [int] NOT NULL,
 CONSTRAINT [PK_UserItem_1] PRIMARY KEY CLUSTERED 
(
	[item_UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMission]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMission](
	[index] [int] IDENTITY(1,1) NOT NULL,
	[user_UID] [int] NOT NULL,
	[mission_code] [int] NOT NULL,
	[mission_type] [int] NOT NULL,
	[mission_group] [int] NOT NULL,
	[mission_step] [int] NOT NULL,
	[progress] [int] NOT NULL,
	[required_count] [int] NULL,
	[assigned_date] [date] NOT NULL,
	[is_completed] [tinyint] NULL,
	[complete_time] [datetime] NULL,
 CONSTRAINT [PK_UserMission] PRIMARY KEY CLUSTERED 
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPass]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPass](
	[user_UID] [int] NOT NULL,
	[pass_code] [int] NOT NULL,
	[pass_type] [int] NOT NULL,
	[pass_Level] [int] NOT NULL,
	[pass_exp] [int] NOT NULL,
	[daily_mission_exp] [int] NOT NULL,
 CONSTRAINT [PK_UserPass] PRIMARY KEY CLUSTERED 
(
	[user_UID] ASC,
	[pass_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserPassReward]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserPassReward](
	[index] [int] IDENTITY(1,1) NOT NULL,
	[user_UID] [int] NOT NULL,
	[pass_code] [int] NOT NULL,
	[pass_type] [int] NOT NULL,
	[level] [int] NOT NULL,
	[is_Rewarded] [int] NOT NULL,
 CONSTRAINT [PK_UserPassReward_1] PRIMARY KEY CLUSTERED 
(
	[index] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserAttendance] ADD  CONSTRAINT [DF__UserAtten__is_re__7C1A6C5A]  DEFAULT ((0)) FOR [is_rewarded]
GO
ALTER TABLE [dbo].[UserCurrencyRecord] ADD  CONSTRAINT [DF_UserCurrencyRecord_produced]  DEFAULT ((0)) FOR [produced]
GO
ALTER TABLE [dbo].[UserCurrencyRecord] ADD  CONSTRAINT [DF_UserCurrencyRecord_consumed]  DEFAULT ((0)) FOR [consumed]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF__Ranking__KillCou__6D0D32F4]  DEFAULT ((0)) FOR [Kill_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF__Ranking__DeathCo__6E01572D]  DEFAULT ((0)) FOR [Death_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF__Ranking__Point__6EF57B66]  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Weapon_Kill_Count]  DEFAULT ((0)) FOR [Weapon_Kill_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Punch_Kill_Count]  DEFAULT ((0)) FOR [Punch_Kill_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Bomb_Count]  DEFAULT ((0)) FOR [Bomb_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Groggy_Count]  DEFAULT ((0)) FOR [Groggy_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Pick_Weapon_Count]  DEFAULT ((0)) FOR [Pick_Weapon_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Pick_Bomb_Count]  DEFAULT ((0)) FOR [Pick_Bomb_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Battle_Count]  DEFAULT ((0)) FOR [Battle_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_FITH_Team_Count]  DEFAULT ((0)) FOR [FITH_Team_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_FITH_Indiv_Count]  DEFAULT ((0)) FOR [FITH_Indiv_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Victory_Count]  DEFAULT ((0)) FOR [Victory_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Gacha_Count]  DEFAULT ((0)) FOR [Gacha_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Change_Skin_Count]  DEFAULT ((0)) FOR [Change_Skin_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Buy_Box_Count]  DEFAULT ((0)) FOR [Buy_Box_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Login_Count]  DEFAULT ((0)) FOR [Login_Count]
GO
ALTER TABLE [dbo].[UserGameRecords] ADD  CONSTRAINT [DF_UserGameRecords_Play_Time_Count]  DEFAULT ((0)) FOR [Play_Time_Count]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_UserLevel]  DEFAULT ((0)) FOR [UserLevel]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF_UserInfo_PassLevel]  DEFAULT ((0)) FOR [PassLevel]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF__UserInfo__Point__619B8048]  DEFAULT ((0)) FOR [Point]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF__UserInfo__Attend__6477ECF3]  DEFAULT ((0)) FOR [AttendanceDay]
GO
ALTER TABLE [dbo].[UserInfo] ADD  CONSTRAINT [DF__UserInfo__State__656C112C]  DEFAULT ((0)) FOR [ConnectionState]
GO
ALTER TABLE [dbo].[UserMission] ADD  CONSTRAINT [DF_UserMission_mission_group]  DEFAULT ((0)) FOR [mission_group]
GO
ALTER TABLE [dbo].[UserMission] ADD  CONSTRAINT [DF_UserDailyQuest_progress]  DEFAULT ((0)) FOR [progress]
GO
ALTER TABLE [dbo].[UserPass] ADD  CONSTRAINT [DF_UserPass_pass_type]  DEFAULT ((1)) FOR [pass_type]
GO
ALTER TABLE [dbo].[UserPass] ADD  CONSTRAINT [DF_UserPass_pass_Level]  DEFAULT ((0)) FOR [pass_Level]
GO
ALTER TABLE [dbo].[UserPass] ADD  CONSTRAINT [DF_UserPass_pass_exp]  DEFAULT ((0)) FOR [pass_exp]
GO
ALTER TABLE [dbo].[UserPass] ADD  CONSTRAINT [DF_UserPass_daily_mission_exp]  DEFAULT ((0)) FOR [daily_mission_exp]
GO
ALTER TABLE [dbo].[UserPassReward] ADD  CONSTRAINT [DF_UserPassReward_pass_type]  DEFAULT ((1)) FOR [pass_type]
GO
ALTER TABLE [dbo].[UserPassReward] ADD  CONSTRAINT [DF_UserPassReward_is_Rewarded]  DEFAULT ((0)) FOR [is_Rewarded]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserAttendanceAll]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUserAttendanceAll]
	@user_UID int
AS
BEGIN
	 DELETE FROM GameDB.dbo.UserAttendance WHERE user_UID = @user_UID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserAttendanceOutDated]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUserAttendanceOutDated]
	@day int
AS
BEGIN
	 DELETE FROM GameDB.dbo.UserAttendance WHERE attendance_date  < DATEADD(DAY, @day, GETDATE());
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserGameRecords]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUserGameRecords]
	@user_UID int
AS
BEGIN
	 DELETE FROM GameDB.dbo.UserGameRecords WHERE UID = @user_UID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserInfo]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUserInfo]
	@user_UID int
AS
BEGIN
	 DELETE FROM GameDB.dbo.UserInfo WHERE UID = @user_UID
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserItem]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUserItem]
	@owner_UID int, @itemCode int
AS
BEGIN
	 DELETE FROM GameDB.dbo.UserItem WHERE Item_UID = (SELECT TOP 1 Item_UID FROM GameDB.dbo.UserItem WHERE owner_UID = @owner_UID and ItemCode = @itemCode ORDER BY Item_UID ASC);
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserItemAll]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUserItemAll]
	@owner_UID int
AS
BEGIN
	 DELETE FROM GameDB.dbo.UserItem WHERE owner_UID = @owner_UID ;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertNewUser]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertNewUser]
	@AccountID varchar(MAX),
	@Nickname varchar(MAX)
AS
BEGIN
	INSERT INTO GameDB.dbo.UserInfo (AccountID, NickName) OUTPUT INSERTED.uid as uid VALUES (@AccountID, @Nickname);
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertReceipt]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[InsertReceipt]
	@user_UID int, @goods_index int
AS
BEGIN
	INSERT INTO GameDB.dbo.Receipt (user_UID, goods_index, purchase_date) VALUES (@user_UID , @goods_index, CAST(GETDATE() AS DATE));
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertUserAttendance]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUserAttendance]
	@user_UID int, 
	@event_code int, 
	@day_count int
AS
BEGIN
	INSERT INTO GameDB.dbo.UserAttendance (user_UID, event_code, attendance_date, day_count) VALUES(@user_UID, @event_code, CAST(GETDATE() AS DATE), @day_count);
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertUserGameRecords]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUserGameRecords]
	@uid int
AS
BEGIN
	INSERT INTO GameDB.dbo.UserGameRecords (UID) VALUES (@uid);
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertUserItem]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUserItem]
	@owner_uid int,
	@itemCode int,
	@count int,
	@itemType int
AS
BEGIN
	INSERT INTO GameDB.dbo.UserItem VALUES (@owner_uid, @itemCode, @count, @itemType);
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertUserPassReward]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertUserPassReward]
	@user_UID int, @pass_code int, @pass_type int, @level int
AS
BEGIN
	INSERT INTO GameDB.dbo.UserPassReward (user_UID, pass_code, pass_type, level, is_rewarded) VALUES (@user_UID, @pass_code, @pass_type, @level, 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectCharacterCustomizing]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectCharacterCustomizing]
	@user_UID int
AS
BEGIN
	SELECT skin, head, face, back, emotion FROM GameDB.dbo.UserCustomizing WHERE user_UID = @user_UID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserAllCurrency]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserAllCurrency]
	@owner_UID int
AS
BEGIN
	SELECT count, itemCode FROM GameDB.dbo.UserItem WHERE owner_UID = @owner_UID AND itemType = 1
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserAllItems]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserAllItems]
	@owner_UID int
AS
BEGIN
	SELECT item_UID, owner_UID, itemCode, count, itemType FROM GameDB.dbo.UserItem WHERE owner_UID = @owner_UID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserAttendanceEvent]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserAttendanceEvent]
	@user_UID int, @event_code int
AS
BEGIN
	SELECT attendance_date, day_count, is_rewarded FROM GameDB.dbo.UserAttendance WHERE user_UID = @user_UID AND event_code = @event_code ORDER BY day_count ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserAttendanceEventLatest]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserAttendanceEventLatest]
	@user_UID int, @event_code int
AS
BEGIN
	 SELECT TOP 1 attendance_date, day_count
	FROM GameDB.dbo.UserAttendance
	WHERE user_UID = @user_UID AND event_code = @event_code
	ORDER BY attendance_date DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserAttendanceIsRewarded]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserAttendanceIsRewarded]
	@user_UID int, @event_code int, @day_count int
AS
BEGIN
	SELECT is_rewarded FROM GameDB.dbo.UserAttendance WHERE user_UID = @user_UID AND event_code = @event_code AND day_count = @day_count;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserAttendanceToday]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserAttendanceToday]
	@user_UID int
AS
BEGIN
	SELECT COUNT(*) FROM GameDB.dbo.UserAttendance WHERE user_UID = @user_UID AND attendance_date = CAST(GETDATE() AS DATE);
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserInfo]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserInfo]
	@uid int
AS
BEGIN
	SELECT UID, AccountID, NickName, UserLevel, PassLevel, Point, LastLoginTime, AttendanceDay, ConnectionState FROM GameDB.dbo.UserInfo WHERE UID = @uid;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserInfoForLogin]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserInfoForLogin]
	@AccountID varchar(MAX)
AS
BEGIN
	 UPDATE GameDB.dbo.UserInfo
	SET LastLoginTime = CAST(GETDATE() AS DATE), ConnectionState = 1
	OUTPUT deleted.UID, deleted.AccountID, deleted.NickName, deleted.UserLevel, deleted.PassLevel
	, deleted.Point, deleted.LastLoginTime, deleted.AttendanceDay, deleted.ConnectionState
	WHERE AccountID = @AccountID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserItemCount]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserItemCount]
	@owner_UID int, @ItemCode int
AS
BEGIN
	SELECT count FROM GameDB.dbo.UserItem WHERE owner_UID = @owner_UID AND ItemCode = @ItemCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserMission]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserMission]
	@user_UID int
AS
BEGIN
	DECLARE @DAILY_MISSION INT = 1
	SELECT user_UID, mission_code, mission_type, mission_group, mission_step
	, progress, required_count, assigned_date, is_completed, complete_time FROM GameDB.dbo.UserMission WHERE user_UID = @user_UID
	AND (mission_type <> @DAILY_MISSION
	OR (mission_type = @DAILY_MISSION AND assigned_date = CAST(GETDATE() AS DATE)));
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserPass]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserPass]
	@user_UID int, @pass_code int
AS
BEGIN
	SELECT user_UID, pass_code, pass_type, pass_Level, pass_exp, daily_mission_exp FROM GameDB.dbo.UserPass WHERE user_UID = @user_UID AND pass_code = @pass_code
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectUserPassReward]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectUserPassReward]
	@user_UID int, @pass_code int
AS
BEGIN
	SELECT user_UID, pass_code, pass_type, level, is_Rewarded FROM GameDB.dbo.UserPassReward WHERE user_UID = @user_UID AND pass_code = @pass_code;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateBattleRecords]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBattleRecords]
	@UID int, @KillCount int, @DeathCount int, @Point int, @WeaponKillCount int
	, @PunchKillCount int, @BombCount int, @GroggyCount int, @PickWeaponCount int, @PickBombCount int
	, @BattleCount int, @FITH_TeamCount int, @FITH_IndivCount int, @VictoryCount int, @PlayTimeCount int
AS
BEGIN
	UPDATE GameDB.dbo.UserGameRecords SET
		Kill_Count = Kill_Count + @KillCount
	, Death_Count = Death_Count + @DeathCount
, Point = Point + @Point
, Weapon_Kill_Count = Weapon_Kill_Count + @WeaponKillCount
, Punch_Kill_Count = Punch_Kill_Count + @PunchKillCount
, Bomb_Count = Bomb_Count + @BombCount
, Groggy_Count = Groggy_Count +@GroggyCount
, Pick_Weapon_Count = Pick_Weapon_Count + @PickWeaponCount
, Pick_Bomb_Count = Pick_Bomb_Count + @PickBombCount
, Battle_Count = Battle_Count + @BattleCount
, FITH_Team_Count = FITH_Team_Count + @FITH_TeamCount
, FITH_Indiv_Count = FITH_Indiv_Count + @FITH_IndivCount
, Victory_Count = Victory_Count + @VictoryCount
, Play_Time_Count = Play_Time_Count + @PlayTimeCount
 WHERE UID = @UID
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateGoldAndSelectUserAllCurrency]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateGoldAndSelectUserAllCurrency]
	@owner_UID INT, @itemCode int, @addValue int
AS
BEGIN
	UPDATE GameDB.dbo.UserItem 
														SET count = count + @addValue 
														WHERE itemCode = @itemCode AND owner_UID = @owner_UID
														SELECT count, itemCode FROM GameDB.dbo.UserItem WHERE owner_UID = @owner_UID AND itemType = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserAttendanceIsRewarded]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserAttendanceIsRewarded]
	@user_UID INT, @event_code int, @day_count int, @is_rewarded int
AS
BEGIN
	UPDATE GameDB.dbo.UserAttendance SET is_rewarded = @is_rewarded OUTPUT deleted.is_rewarded WHERE user_UID = @user_UID AND event_code = @event_code AND day_count = @day_count ;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserConnectionState]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserConnectionState]
	@UID int, @ConnectionState int
AS
BEGIN
	UPDATE GameDB.dbo.UserInfo SET ConnectionState = @ConnectionState WHERE UID = @UID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserItemCount]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserItemCount]
	@owner_UID int, @itemCode int, @addValue int
AS
BEGIN
	UPDATE GameDB.dbo.UserItem SET count = count + @addValue WHERE owner_UID = @owner_UID AND itemCode = @itemCode;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserPoint]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUserPoint]
	@UID int, @value int
AS
BEGIN
	UPDATE GameDB.dbo.UserInfo SET Point = Point + @value WHERE UID = @UID
END;
GO
/****** Object:  StoredProcedure [dbo].[UpsertCharacterCustomizing]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpsertCharacterCustomizing]
	@UID int, @skin int, @head int, @face int, @back int, @emotion int
AS
BEGIN
	MERGE INTO GameDB.dbo.UserCustomizing AS Target 
													USING (VALUES (@UID, @skin, @head, @face, @back, @emotion)) AS Source(uid, skin, head, face, back, emotion) 
													ON Target.user_uid = Source.uid 
													WHEN MATCHED THEN 
													UPDATE SET Target.skin = Source.skin, Target.head = Source.head, Target.face = Source.face, Target.back = Source.back, Target.emotion = Source.emotion 
													WHEN NOT MATCHED THEN 
													INSERT (user_UID, skin, head, face, back, emotion) VALUES (Source.uid, Source.skin, Source.head, Source.face, Source.back, Source.emotion);
END;
GO
/****** Object:  StoredProcedure [dbo].[UpsertUserCurrency]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UpsertUserCurrency]
	@owner_UID int, @itemCode int, @count int
AS
BEGIN
	 MERGE INTO GameDB.dbo.UserItem AS Target 
	USING (VALUES(@owner_UID, @itemCode, @count) ) AS Source(owner_UID, itemCode, count) 
												ON Target.owner_UID = Source.owner_UID AND (Target.itemCode = Source.itemCode OR Target.itemCode IS NULL) 
												WHEN MATCHED THEN 
												UPDATE SET Target.count = Target.count + Source.count 
												WHEN NOT MATCHED BY TARGET THEN 
												INSERT(owner_UID, itemCode, count, itemType) 
												VALUES(Source.owner_UID, Source.itemCode, Source.count, 1);
END;
GO
/****** Object:  StoredProcedure [dbo].[UpsertUserCurrencyRecord]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpsertUserCurrencyRecord]
	@user_UID int, @item_index int, @produced_add_value int, @consumed_add_value int
AS
BEGIN
	  MERGE INTO GameDB.dbo.UserCurrencyRecord AS Target 
	USING (VALUES(@user_UID, @item_index, @produced_add_value, @consumed_add_value) ) AS Source(user_UID, item_index, produced_add_value, consumed_add_value) 
	ON Target.user_UID = Source.user_UID AND Target.item_index = Source.item_index
	WHEN MATCHED THEN 
	UPDATE SET Target.produced = Target.produced + Source.produced_add_value, Target.consumed = Target.consumed + Source.consumed_add_value
	WHEN NOT MATCHED BY TARGET THEN 
	INSERT(user_UID, item_index, produced, consumed) 
	VALUES(user_UID, item_index, produced_add_value, consumed_add_value);
END;
GO
/****** Object:  StoredProcedure [dbo].[UpsertUserItemCount]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpsertUserItemCount]
	@owner_UID int, @itemCode int, @addValue int, @itemType int
AS
BEGIN
	 MERGE INTO GameDB.dbo.UserItem AS Target 
											USING (SELECT 1 AS match) AS Source 
											ON Target.itemCode = @itemCode AND Target.owner_UID = @owner_UID
											WHEN MATCHED THEN 
											UPDATE SET count = count + @addValue
											WHEN NOT MATCHED THEN 
											INSERT (owner_UID, itemCode, count, itemType) VALUES (@owner_UID, @itemCode, @addValue, @itemType);
END;
GO
/****** Object:  StoredProcedure [dbo].[UpsertUserMission]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UpsertUserMission]
	@user_UID int, @mission_code int, @mission_type int, @mission_group int, @mission_step int
											, @progress int, @required_count int, @assigned_date date, @is_completed int, @complete_time datetime
AS
BEGIN
	MERGE INTO GameDB.dbo.UserMission AS Target 
	USING (VALUES (@user_UID, @mission_code, @mission_type, @mission_group, @mission_step 
											, @progress, @required_count, @assigned_date, @is_completed, @complete_time)) 
AS Source(user_UID, mission_code, mission_type, mission_group, mission_step 
											, progress, required_count, assigned_date, is_completed, complete_time) 
												ON Target.user_UID = Source.user_UID AND Target.mission_code = Source.mission_code AND Target.assigned_date = Source.assigned_date 
												WHEN MATCHED THEN 
												UPDATE SET Target.progress = Source.progress, Target.is_completed = Source.is_completed, Target.complete_time = Source.complete_time 
												WHEN NOT MATCHED BY TARGET THEN 
												INSERT 
												VALUES(Source.user_UID, Source.mission_code, Source.mission_type, Source.mission_group, Source.mission_step
												, Source.progress, Source.required_count, Source.assigned_date, Source.is_completed, Source.complete_time);
END;
GO
/****** Object:  StoredProcedure [dbo].[UpsertUserPass]    Script Date: 2025-03-02 오후 1:28:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpsertUserPass]
	@user_UID int, @pass_code int, @pass_type int, @pass_level int, @pass_exp int, @daily_mission_exp int
AS
BEGIN
	MERGE INTO GameDB.dbo.UserPass AS Target 
USING (VALUES (@user_UID, @pass_code, @pass_type, @pass_level, @pass_exp, @daily_mission_exp)) AS Source(user_UID, pass_code, pass_type, pass_level, pass_exp, daily_mission_exp) 
ON Target.user_UID = Source.user_UID AND Target.pass_code = Source.pass_code 
WHEN MATCHED THEN 
UPDATE SET Target.pass_type = Source.pass_type, Target.pass_exp = Source.pass_exp, Target.pass_level = Source.pass_level, Target.daily_mission_exp = Source.daily_mission_exp 
WHEN NOT MATCHED THEN 
INSERT VALUES(Source.user_UID, Source.pass_code, Source.pass_type, Source.pass_level, Source.pass_exp, Source.daily_mission_exp);
END;
GO
