USE [AccountDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2025-03-02 오후 1:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [varchar](100) NOT NULL,
	[hashedPassword] [varchar](256) NOT NULL,
	[salt] [varchar](45) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[CheckValidateLogin]    Script Date: 2025-03-02 오후 1:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CheckValidateLogin]
	@ID varchar(MAX)
AS
BEGIN
	SELECT hashedPassword, salt FROM AccountDB.dbo.Account WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteAcccount]    Script Date: 2025-03-02 오후 1:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAcccount]
	@ID varchar(MAX)
AS
BEGIN
	DELETE FROM AccountDB.dbo.Account WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertAccount]    Script Date: 2025-03-02 오후 1:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertAccount]
	@ID varchar(MAX),
	@hashedPassword varchar(MAX),
	@salt varchar(MAX)
AS
BEGIN
	INSERT INTO AccountDB.dbo.ACCOUNT VALUES (@ID, @hashedPassword, @salt);
END;
GO
/****** Object:  StoredProcedure [dbo].[SelectAccountCount]    Script Date: 2025-03-02 오후 1:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectAccountCount]
	@ID varchar(MAX)
AS
BEGIN
	SELECT COUNT(ID) FROM AccountDB.dbo.Account WHERE ID = @ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_USER_SELECT]    Script Date: 2025-03-02 오후 1:25:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_USER_SELECT]
	@szID NVARCHAR(20)
AS
	SELECT ID,hashedPassword,salt
	FROM Account
	WHERE @szID = ID
GO
